body {
  margin: 0;
  padding: 0;
}
#frameBox {
  width: 320px;
  height: 568px;
  margin: 0 auto;
  background: lightsalmon;
  position: relative;
}
#frameBox #start {
  /*display: none;*/
  background: url(../img/background-start.png) no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#frameBox #start button {
  position: absolute;
  left: 0;
  right: 0;
  width: 150px;
  height: 30px;
  display: block;
  border-radius: 30px;
  background: #c4c9ca;
  border: 1px solid black;
  margin: 0 auto;
  bottom: 40%;
}
#frameBox #pause {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../img/background-game.png) no-repeat;
  display: none;

}
#frameBox #pause #count {
  position: absolute;
  top: 10px;
  left: 10px;
}
#frameBox #pause #suspend {
  display: none;
}
#frameBox #pause #suspend button {
  position: absolute;
  left: 0;
  right: 0;
  width: 150px;
  height: 30px;
  display: block;
  border-radius: 30px;
  background: #c4c9ca;
  border: 1px solid black;
  margin: 0 auto;
  bottom: 40%;
  bottom: auto;
  top: 50%;
  bottom: 50%;
  z-index: 999;
}
#frameBox #pause #suspend button:last-child {
  margin-top: 40px;
}
#frameBox #pause img {
  position: absolute;
}
#frameBox #settlement {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 50%;
  box-sizing: border-box;
  z-index: 99;
}
#frameBox #settlement button {
  position: absolute;
  left: 0;
  right: 0;
  width: 150px;
  height: 30px;
  display: block;
  border-radius: 30px;
  background: #c4c9ca;
  border: 1px solid black;
  margin: 0 auto;
  bottom: 40%;
  position: relative;
  bottom: 0;
}
